@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  position: relative;
  background: #ffffff;
  width: 100%;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
.btn_white { 
  @apply  border-white bg-white px-8 py-3 text-green-50
}
.btn_white_text  { 
  @apply  border-black bg-white px-8 py-3 text-gray-100
}
.btn_1  { 
  @apply  border-pink-700 bg-white px-6 py-2 text-red-700 hover:bg-gray-100
}
.btn_2 { 
  @apply  bg-pink-700 px-6 py-2 text-white hover:bg-pink-900
}
.btn_dark_green_outline  { 
  @apply border-gray-20 bg-green-90 px-8 py-5 text-white
}


} 


